<!DOCTYPE html>
<html>
<head>
    <title>SECOMPP</title>
</head>

<body>
    <div>
        <p>Publico: 04/10/2018, 12:20</p>
        <h2><a href="">Meu primeiro blog</a></h2>
        <p>Illum fuga velit enim iste. Ipsa id debitis accusantium ipsum reiciendis quo sed qui. Voluptas alias atque dolor distinctio unde dicta quia adipisci.

            Ea ipsa magni rem molestiae nemo voluptatum. Est placeat omnis est officia eos cumque facilis. Omnis quo sed illo voluptates. Eaque omnis voluptate ut voluptatem quia ratione porro dolor. Sapiente nemo minus sint.</p>
    </div>
</body>
</html>